PORT=3000
HOST=0.0.0.0
MONGO_URI=mongodb://127.0.0.1:27017/reva-engineering-inventory-system
JWT_SECRET=reva-engineering-services-inventory-secret
COMPANY_NAME=REVA Engineering Services
APP_NAME=REVA Engineering Services Inventory System
DEFAULT_ADMIN_EMAIL=admin@revaengineeringservices.local
DEFAULT_ADMIN_PASSWORD=Admin@123
HEADQUARTERS_EMAIL=hq@revaengineeringservices.local
WAREHOUSE_EMAIL=warehouse@revaengineeringservices.local
PUBLIC_BASE_URL=http://your-domain-or-server-ip:3000
ALLOWED_ORIGINS=*
